@import '../../global.scss';

.navbar{
  width: 100%;
  height: 70px;
  background-color: rgb(238, 233, 192);
  color: black;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper{  
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
      display: flex;
      align-items: center;

    .logo{
      font-size: 30px;
      font-weight: 700;
      text-decoration: none;
      color: inherit;
      margin-right: 60px;
      
    }

    .itemContainer{
      display: flex;
      align-items: center;
      

      .icon{
        font-size: 25px;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
  .right{
    
    .hamburger{
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      span{
        width: 100%;
        height: 3px;
        background-color: black;
        transform-origin: left;
        transition: all 1s ease ;
      }
    }
  }
  &.active{
    background-color: black;
    color: white;

    .hamburger{
      span{
        &:first-child{
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 2;
          background-color: black;
        }
        &:last-child{
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }

}