.projects{
  background-color:#e8cfe8;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 50px;
    margin: 15px 0;
  }
  // img {
  //   width: 418px;
  //   height: 498px;
  // }

  .container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item{
      width: 420px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid lightsalmon;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      position: relative; 
      color: white;
      transition: all .5s ease;
      cursor: pointer;

      h3{
        position: absolute;
        font-size: 20px;
        text-align: center;
        padding: 80px 0;
      }
  
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
  
      &:hover{
        background-color: lightpink;
        img{
          opacity: 0.4;
          z-index: 0;
        }
      }
    }

    
  }
}
