.aboutme {
  background-color: rgb(195, 231, 245);
  display: flex;
  align-items: center;

  .left {
    flex: 1;
  }

  .right {
    width: 700px;
    height: 700px;
    margin: 0 10vh 100px 0;
    // margin-bottom: 100px;
    // margin-right: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;

    img {
      width: 85%;
      // height: 100%;
      // object-fit: cover;
      // margin-right: 400px;
    }
  }

  .right-card {
    width: 60%;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
}

// .right-card.bg{
//   position: absolute;
//   top: 50px;
//   right: 50px;
//   background-color: #333;
//   border-radius: 30px;
// }
